// Define variables for your color scheme

// For example:
$pink: rgba(251,62,142,0.5);
$blue: rgba(46,74,232,0.5);
$yellow: rgba(255,237,33,0.5);
$red: #E67E22;
$green: rgba(50,183,150,0.5);
$gray: #000000;
$light-gray: #F4F4F4;
$orange: #ffffff;

/*-
.bandeau-couleur-teammates{
  background-color: rgba(94,189,170,0.5);
}
.bandeau-couleur-projets{
  background-color: rgba(231,33,122,0.5);
}
.bandeau-couleur-offres{
  background-color: rgba(229,31,35,0.5);
}
.bandeau-couleur-contact{
  background-color: rgba(242,140,11,0.5);
}
*/
