.container-title-presta{
  display:flex;
  width:100%;
  justify-content:space-between;
  padding-left:10vw;
  padding-right:10vw;
}
.ereputation-bloc{
  height:100%;
  width:80vw;
  padding-left:15vw;
  padding-top:2vh;
}
.link-contact-container{
  display:flex;
  justify-content:flex-end;
  padding-right:5vw;
}

