.logo-dingbat-small{
  width: 100px;
  height: auto;
}

.container-projets-center{
  width: auto;
  padding-left: 20vw;
  height: 60%;
  display: flex;
  align-items: top;
  justify-content: flex-start;
  padding-top: 2%;
}

.container-projet{
  width: 350px;
  height: 350px;
  background-color: red;
  position: relative;
  margin-right: 80px;
  background-position: center;
  background-size: cover;
  transition:.3s;
  filter: grayscale(100%);
  &:hover{
    transition:.3s;
    filter: grayscale(0%);
  }
  .container-customer{
    position: absolute;
    bottom: -50px;
    left: 40px;
    font-size: 35px;
    font-weight: bold;
    height: 50px;
    text-decoration: none;
    color: rgba(231,33,122,0.5);
  }
  .container-name{
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 22px;
    color: white;
  }
}

.container-homelab-projets{
  margin-bottom: 40px;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  h2{
    font-size: 24px;
  }
}
.projets-arrow-left, .projets-arrow-right, .projet-arrow-left, .projet-arrow-right{
  cursor: pointer;
}

.filtre-projets{
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  form{
    display: flex;
    align-items: center;
    justify-content: center;
    input{
      margin-left: 60px;
      margin-right: 10px;
      margin-top: 0;
      border: none;
    }
    label{
      font-weight: normal;
    }
    button{
      display:none;
    }
  }
}
