.container-projet-center{
  flex:1;
  height: 66%;
  width: 10000px;
  display: flex;
  align-items: top;
  justify-content: flex-start;
  z-index:-1;
  padding-left:15vw;
  .projet-presentation{
    width: 600px;
    .presentation-title h1{
      margin-top: 20px;
      padding-left:40px;
      padding-bottom:20px;
    }
    .presentation-description{
      text-align: justify;
      text-justify: inter-word;
    }
  }
  .projet-photos{
    height: 100%;
    width: 100%;
    display: flex;
    .photo{
      height: 100%;
      width: 70vw;
      margin-left: 15vw;
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
    }
  }
}
